* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(./img/Screen.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}